.dialog{
    width: 30vw;
    height: 50vh;
}

.content{
    width: 70%;
    height: 70%;
}

.formfield{
    width: 25vw;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

