<div class="dialog">
    <h2 mat-dialog-title>Share '{{data.name}}'</h2>
    <div mat-dialog-content class="content">
      <mat-form-field class="email-field" appearance="fill">
        <mat-label>Enter an email address</mat-label>
        <input matInput>
      </mat-form-field>
      <p><b>People with access</b></p>
      <div *ngFor="let p of data.permissions" class = "perm-container">
        <img src="{{p.photoLink ?? 'https://lh3.googleusercontent.com/a/default-user=s64'}}" class="user-image"/>
        <div>
          {{p.displayName ?? 'Unknown user'}}
          <br/>
          {{p.emailAddress ?? 'Unknown email address'}}
        </div>
        <mat-form-field appearance="fill">
          <mat-label>{{capitaliseFirstLetter(p.role)}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let r of ['Writer', 'Viewer', 'Commenter']" [value]="capitaliseFirstLetter(p.role)">
              {{r}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="remove-user" mat-mini-fab	color="warn"><mat-icon>close</mat-icon></button>
      </div>
    </div>
    <div mat-dialog-actions class="buttons">
      <button style="color: #2E84FC;" mat-button>
        <mat-icon>link</mat-icon>
        Copy link
      </button>
      <button color="primary" style="margin-left: 30px;" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Done</button>
    </div>
</div>