<div class="dialog">
    <h2 mat-dialog-title>Share 'TestDocument.docx'</h2>
    <div mat-dialog-content class="content">
      <mat-form-field class="formfield" appearance="fill">
        <mat-label>Enter an email address</mat-label>
        <input matInput>
      </mat-form-field>
      <p>People with access</p>
    </div>
    <div mat-dialog-actions class="buttons">
      <button style="color: #2E84FC;" mat-button>
        <mat-icon>link</mat-icon>
        Copy link
      </button>
      <button color="primary" style="margin-left: 30px;" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Done</button>
    </div>
</div>