img{
    padding-right: 0.5vw;
    width: 1vw;
    height: 1vw;
    vertical-align: middle;
}


.spinner{
    width: 1.5vw  !important;
    height: 1.5vw !important;
}

mat-chip{
    margin-right: 1vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  



