<mat-chip-listbox multiple>
    <mat-chip-option [matMenuTriggerFor]="menu">
        Owner
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>

    <mat-chip-option [matMenuTriggerFor]="permissions">
        Permissions
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
    
    <mat-chip-option  [matMenuTriggerFor]="date">
        Date
        <mat-icon>keyboard_arrow_down</mat-icon>     
    </mat-chip-option>
    
    <mat-chip-option [matMenuTriggerFor]="type" >
        Type
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
    
    <mat-chip-option [matMenuTriggerFor]="shared">
        Shared with 
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
</mat-chip-listbox>

<!---INPUT FOR OWNER-->
<mat-menu #menu="matMenu" multiple>
        <mat-icon>search</mat-icon>
        <input type="text"
           matInput
           [matAutocomplete]="auto"
           (click)="$event.stopPropagation()"
           [(ngModel)]="searchText">
        
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"/>
        <div class="checkbox-container">
            

            <mat-checkbox #ownerCheckbox [value]="'all'" (change)="ownerFilterSelectChange($event)" checked="{{allOwnersSelected}}" disabled="{{allOwnersSelected}}" (click)="$event.stopPropagation()">
                select all
            </mat-checkbox>

            <mat-checkbox #ownerCheckbox [value]="'none'" (change)="ownerFilterSelectChange($event)" checked="{{noOwnersSelected}}" disabled="{{noOwnersSelected}}" (click)="$event.stopPropagation()">
                select none
            </mat-checkbox>
            

            <mat-checkbox #ownerCheckbox [value]="ownerOptionsMe?.permissionId??''" checked="true" (click)="$event.stopPropagation()">
                me ({{ownerOptionsMe?.displayName}})
            </mat-checkbox>

            <mat-checkbox #ownerCheckbox *ngFor="let option of ownerOptions" [value]="option.permissionId??''" (change)="ownerFilterSelectChange($event)" checked="true" (click)="$event.stopPropagation()">
                <!--ADD USER ICON HERE-->
                {{option.displayName}}
            </mat-checkbox>
        </div>
</mat-menu>

<!---INPUT FOR TYPE -->
<mat-menu #type="matMenu" multiple>
    <mat-icon>search</mat-icon>
    <input type="text"
       matInput
       [matAutocomplete]="auto"
       (click)="$event.stopPropagation()"
       [(ngModel)]="searchText">
    
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"/>
    <div class="checkbox-container">
        <mat-checkbox *ngFor="let type of typeOptions" [value]="type" >
            <!-- Insert file type here -->
            {{type}}
        </mat-checkbox>
    </div>
</mat-menu>

<!---INPUT FOR SHARED WITH -->
<mat-menu #shared="matMenu" multiple>
    <mat-icon>search</mat-icon>
    <input type="text"
       matInput
       [matAutocomplete]="auto"
       (click)="$event.stopPropagation()"
       [(ngModel)]="searchText">
    
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"/>
    <div class="checkbox-container">
        <mat-checkbox *ngFor="let share of sharedOptions" [value]="share.id??''">
            <!--ADD USER ICON HERE-->
            {{share.displayName}}
        </mat-checkbox>
    </div>
</mat-menu>
  
<!---INPUT FOR PERMISSIONS-->
<mat-menu #permissions="matMenu" multiple appearance="fill">
        <mat-checkbox value="option1"><span class="drop-down-item1">Editor</span>
            <mat-icon class="drop-down-icon">edit</mat-icon> 
        </mat-checkbox><br>
        <mat-checkbox value="option2"><span class="drop-down-item2">Viewer</span>
            <mat-icon class="drop-down-icon">remove_red_eye</mat-icon> 
        </mat-checkbox><br>
        <mat-checkbox value="option3"><span class="drop-down-item3">Commenter</span>
            <mat-icon class="drop-down-icon"> comment</mat-icon> &nbsp;&nbsp;
        </mat-checkbox>
</mat-menu>

<!---INPUT FOR PERMISSIONS-->
<mat-menu #permissions="matMenu" multiple appearance="fill">
    <mat-checkbox value="option1"><span class="drop-down-item1">Editor</span>
        <mat-icon class="drop-down-icon">edit</mat-icon> 
    </mat-checkbox><br>
    <mat-checkbox value="option2"><span class="drop-down-item2">Viewer</span>
        <mat-icon class="drop-down-icon">remove_red_eye</mat-icon> 
    </mat-checkbox><br>
    <mat-checkbox value="option3"><span class="drop-down-item3">Commenter</span>
        <mat-icon class="drop-down-icon"> comment</mat-icon> &nbsp;&nbsp;
    </mat-checkbox>
</mat-menu>

<mat-menu #date="matMenu" multiple appearance="fill">
    <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
</mat-menu>
