<mat-form-field>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<mat-chip-listbox multiple>
    <mat-chip-option>
        Owner
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
    
    <mat-chip-option>
        Permissions
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
    
    <mat-chip-option>
        Date
        <button (click)="picker.open()">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        
    </mat-chip-option>
    
    <mat-chip-option>
        Type
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
    
    <mat-chip-option>
        Shared with User
        <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-chip-option>
</mat-chip-listbox>


