mat-icon{
    vertical-align: bottom;
}

.selected-div{
    width: 20vh;
    height: 20vh;
}

.filter-input-container{
    display: flex;
    flex-direction: row;
}

.drop-down-item0{
    margin-right: 25px;
    vertical-align: bottom;
}
.drop-down-item1{
    margin-right: 29px;
    vertical-align: bottom;
}
.drop-down-item2{
    margin-right: 23px;
    vertical-align: bottom;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}
