mat-icon{
    vertical-align: bottom;
}

.selected-div{
    width: 20vh;
    height: 20vh;
}

.filter-input-container{
    display: flex;
    flex-direction: row;
}

.drop-down-item1{
    margin-right: 51px;
    vertical-align: bottom;
}
.drop-down-item2{
    margin-right: 43px;
    vertical-align: bottom;
}
.drop-down-item3{
    margin-right: 10px;
    vertical-align: bottom;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}