.google-logo{
    height: auto;
    width: 10%;
}

.draw-logo{
    height: auto;
    width: 40%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}