.google-logo{
    position: relative;
    height: auto;
    width: 10%;
}

.draw-logo{
    position: relative;
    height: auto;
    width: 30%;
    padding-bottom: 5%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.login-button{
    position: relative;
    width: 15%;
}

h2{
    position: relative;
    font-size: 200%;
    padding-bottom: 5%;
    transform: translateY(-60%);
}

button{
    position: relative;
    margin-bottom: 5%;
    font-size: 2vw;
    padding: 2% 5%;
    white-space: nowrap;
    transform: translateY(-60%);
}