<mat-form-field class="example-chip-list" appearance="fill" (click)="$event.stopPropagation()">
    <mat-chip-grid #chipGrid aria-label="Enter email address..">
      <mat-chip-row *ngFor="let owner of owners"
                    (removed)="remove(owner)"
                    [editable]="true"
                    (edited)="edit(owner, $event)"
                    [aria-description]="'press enter to edit ' + owner">
        {{owner}}
        <button matChipRemove [attr.aria-label]="'remove ' + owner">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input class="email-input" placeholder="Enter email address..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (change)="filterByOwner()"/>
    </mat-chip-grid>
    
  </mat-form-field> 
  
  <!-- david's  friend-->
  <button (click)="filterByOwner()">test</button>

  
  
  