.example-card {
  max-width: 18vw;
  overflow:hidden;
}

.example-card :hover{
  cursor: pointer;
}

.example-header-image {
  background-size: cover;
}

.recentHolder{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: top;
}

.recentFile{
  flex-grow: 1;
}


.cardImage{
  height: 32px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
}

.cardImageContainer{
  background-color: #EFEEF1 ;
  height: 32;
  display: flex;
  align-items: center;
  justify-content: center;
}


mat-card-title{
  height: fit-content;
  font-size: 1rem;
  max-width: 15vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}

mat-card-subtitle{
  font-size: 0.8rem;
  margin-top: 3vh;
  margin-bottom: 3.5vh;

}

.example-card{
  width:24vw;
  overflow:hidden;
}

