.example-card {
  max-width: 350px;
  height: 250px;
}

.example-header-image {
  background-size: cover;
}

h2{
margin-left: 50px; 
margin-top: 10px;
}

.cardImage{
height:35px;
width:35px;
display: block;
margin-left: auto;
margin-right: auto;
}

.cardImageContainer{
background-color: #EFEEF1 ;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}


mat-card-title{
  font-size: 1vw;
}

mat-card-subtitle{
font-size: 0.8vw;
margin-bottom: 5px;

}

.example-card{
width:24vw;
margin-left: 10px;
height:15vw;
overflow:hidden;
}