.example-card {
  max-width: 18vw;
  height:15vw;
  overflow:hidden;
}

.example-card :hover{
  cursor: pointer;
}

.example-header-image {
  background-size: cover;
}


.cardImage{
  height:2vw;
  width:2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardImageContainer{
  background-color: #EFEEF1 ;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


mat-card-title{
  height: 1.5vw;
  font-size: 1vw;
  max-width: 15vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}

mat-card-subtitle{
  font-size: 0.8vw;
  margin-top: 3vh;
  margin-bottom: 3.5vh;

}

.example-card{
  width:24vw;
  height:15vw;
  overflow:hidden;
}

