<div class="dialog">
    <h2 mat-dialog-title>Are you sure you want to delete 'TestDocument.docx'?</h2>
    <div mat-dialog-content class="content">
      <p>The file will be placed in the recycling bin for <b>30 days</b> & will then be <b>permantently discarded.</b></p>
      <p><b>People with access</b></p>
      <div *ngFor="let p of data.permissions" class = "perm-container">
        <img src="{{p.photoLink ?? 'https://lh3.googleusercontent.com/a/default-user=s64'}}" class="user-image"/>
        <div>
          {{p.displayName ?? 'Unknown user'}}
          <br/>
          {{p.emailAddress ?? 'Unknown email address'}}
        </div>
            {{capitaliseFirstLetter(p.role)}}
      </div>
    </div>
    <div class="buttons" mat-dialog-actions>
      <button style="margin-right: 100px" mat-raised-button color="warn">Yes</button>
      <button style="color: #2E84FC; margin-left: 30px" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
    </div>
</div>