.background { 
    background-image: url("/assets/images/logo-background2.png");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position: center; 
    width:100%;
    background-attachment: fixed;
}
