<!-- <div style="height: 120vh;">
  <div class="jumbotron text-center">
      <h1>
          <span class="search-bar">ngx-guided-tour Demo</span>
      </h1>
  </div>

  <div height="400" class="center-content">
      <div>
          Guided tour is a great way to introduce your users to new features or remind them how to use exisiting features. Hover your mouse over the orb above to start the tour.
          <br/>
          <br/>
          Orbs are optional, If not set or set to false the tour will just start.
      </div>
  </div>

  <br/>
  <br/>

  <div class="center-content">
      <button (click)="restartTour()">
          Restart Tour
      </button>
  </div>

  <br/>
  <br/>

  <div class="center-content">
      <span class="tour-middle-content">
          Click restart to start the tour again.
          <br/>
          <br/>
          There are multiple features to correctly position and caclulate scrolling on your tours.
      </span>
  </div>

  <br/><br/>
  <div class="center-content">

  </div>

  <br/><br/>
</div>

<div class="center-content">
  <span class="tour-scroll">
      This content is on the bottom of the page so that the tour is forced to scroll to it.
  </span>
</div> -->





<div class="search-bar">
  <app-filter-chips  (updateFilterQuery)="updateQuery($event)"/>
</div>

<h2 class="recently-accessed">Recently Accessed</h2> 
<app-recently-accessed class="recently"/>
<mat-tab-group class="tab-bar" dynamicHeight preserveContent>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">view_list</mat-icon>
        Table View
      </ng-template>
      
        <ng-template matTabContent>
            <app-file-list 
                [tableLoading]="list$.length < (Math.max(pageNumber,1) * pageSize) && nextPageToken$ != null" 
                [nextPageLoading]="this.list$.length <= ((this.pageNumber+1) * this.pageSize) && nextPageToken$ != null" 
                [files]=list$ 
                (notifyPageSettingsChanged)="setPageSettings($event)" 
                (notifySortChanged)="setSort($event)"/>
        </ng-template>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">lan</mat-icon>
        Hierarchy View 
      </ng-template>
        <ng-template matTabContent>
          <div class="tree-container">
            <app-filetree
              [filterQuery]="filterQuery"
              [sortOrder]="treeSortSettings"
            />
            <app-sort-by (notifySortChanged)="updateTreeSort($event)"/>
          </div>
        </ng-template>
    </mat-tab>
  </mat-tab-group>

 <ngx-guided-tour></ngx-guided-tour>
