<app-filter-chips (updateFilterQuery)="updateQuery($event)"/>
<app-recently-accessed/>
<mat-tab-group class="tab-bar" dynamicHeight preserveContent>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">view_list</mat-icon>
        Table View
      </ng-template>
      
        <ng-template matTabContent>
            <app-file-list 
                [tableLoading]="list$.length < (Math.max(pageNumber,1) * pageSize) && nextPageToken$ != null" 
                [nextPageLoading]="this.list$.length <= ((this.pageNumber+1) * this.pageSize) && nextPageToken$ != null" 
                [files]=list$ 
                (notifyPageSettingsChanged)="setPageSettings($event)" 
                (notifySortChanged)="setSort($event)"/>
        </ng-template>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">lan</mat-icon>
        Hierarchy View 
      </ng-template>
        <ng-template matTabContent>
          <div class="tree-container">
            <app-filetree
              [filterQuery]="filterQuery"
            />
            <app-sort-by/>
          </div>
        </ng-template>
    </mat-tab>
  </mat-tab-group>

