    #tree {
        width: 90vw;
        height: 80vh;
    }
    .button-container{
        display: flex;
        flex-direction: row;
    }

    button{
        color: black;
        background-color: lightgray;
        width: 3vw;
        height: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: lightgray;
        border-radius: 1vw;
        border-color: lightgray;
        margin-right: 0.5vw;
    }

    .mat-icon{
        font-size: 1.5vw !important;
    }

    .legend {
        display: flex;
        align-items: center;
        margin-bottom: 1.5vh;
        position: fixed;
    }
    
    .legend span {
        display: inline-block;
        width: 2.7vw;
        height: 0.3vh;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }
    
    .legend .solid {
        background-color: #2196f3;
    }
    
    .legend .dotted {
        border-bottom: 0.3vh dotted #2196f3;
    }
      
    .solid-node,
    .dotted-node {
        display: inline-block;
        width: 2vh;
        height: 2vh;
        border-radius: 50%;
        margin-right: 0.7vh;
        margin-left: 0.7vh;
    }
      
    .solid-node {
        display: inline-block;
        width: 2vh;
        height: 2vh;
        border: 0.3vh solid #2196f3;
        border-radius: 50%;
        margin-left: 0.7vh;
    }
    
    .solid-node::before {
        content: "";
        display: block;
        width: 2vh;
        height: 2vh;
        border: 0.1vh solid #fff;
        border-radius: 50%;
    }
      
    .dotted-node {
        border: 0.3vh dashed  #2196f3;
    }

    .center {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    .mat-progress-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }