.icon{
    padding-right: 5%;
    width: 3%;
    height: 3%;
    vertical-align: bottom;
}
.table{
   background-color:rgba(0, 0, 0, 0);
}
.paginatorDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
}
.spinner{
    display: grid; 
    place-items: center;
}