.icon{
    padding-right: 5%;
    width: 15px;
    height: 15px;
    vertical-align:middle;
}
.table{
   background-color:rgba(0, 0, 0, 0);
}
.paginatorDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    background-color: #f1f1f1;
}
mat-paginator{
    background-color: #f1f1f1;

}
.spinner{
    display: grid; 
    place-items: center;
}