<mat-paginator 
    [length]="files.length"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber"
    [pageSizeOptions]="[50,100,200,500,1000]"
    (page)="onPageSettingsChange($event)"
/>

<table mat-table [dataSource]="paginatedData" class="table" matSort>
    <!-- HEADERS -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let file"> 
                <img src={{file.iconLink}} class="icon"/>
                {{file.name}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="Owner">
        <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header sortActionDescription="Sort by owner"> Owner </th>
            <td mat-cell *matCellDef="let file"> {{file.owners[0].displayName}}</td>
    </ng-container>
    <ng-container matColumnDef="Last Modified">
        <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last modified"> Last Modified </th>
            <td mat-cell *matCellDef="let file"> {{formatLastModified(file)}}</td>
    </ng-container>
    <ng-container matColumnDef="Size">
        <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header sortActionDescription="Sort by size"> Size </th>
            <td mat-cell *matCellDef="let file"> {{byteSize(file.size)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers;"></tr>
</table>
<div class="spinner">
    <mat-spinner *ngIf="tableLoading"></mat-spinner>
</div>



<div class="paginatorDiv">
    <mat-paginator 
        [length]="files.length"
        [pageSize]="pageSize"
        [pageIndex]="pageNumber"
        [pageSizeOptions]="[50,100,200,500,1000]"
        (page)="onPageSettingsChange($event)"
    />
    <mat-spinner *ngIf="nextPageLoading" diameter="20"></mat-spinner>

</div>


