
  .example-container {
    width: 400px;
    height: 150px;
    background-color: #F1F3F4;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sort{
    margin-left: 30px;
  }