<mat-drawer-container class="drawer">
    <mat-drawer-content>
        <h2>Sort by</h2>
        <div style="display: flex;">
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="selectedValue" #mode value="datecreated">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <div class="sort">
            <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle class="sorting" value="asc">
                  <mat-icon>arrow_upward</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="desc">
                  <mat-icon>arrow_downward</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
          </div>
        </div>
        
    </mat-drawer-content>
  </mat-drawer-container>
