<div class="parent">
  <div class="side-toggle" aria-label="Button to open item information" alt="Button to open item information" (click)="showTabs = !showTabs">
    <mat-icon matTooltip="Item Information">
      {{showTabs? 'arrow_forward_ios' : 'info_outline'}}
    </mat-icon>
  </div>
  
  <mat-drawer-container class="tab-container" mode="side" *ngIf="showTabs">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Details
          </ng-template>
         <app-details-tab [file] = "file"/>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            Activity
          </ng-template>
          <app-activity-tab [id]="file.id"/>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            Versions
          </ng-template>
          <app-version-tab [id]="file.id"/>
        </mat-tab>
      </mat-tab-group>
  </mat-drawer-container>
</div> 
