.tab-container {
    width: 50vw;
    height: 75vh;
    background-color: #F1F3F4;
    margin-left: -2vw;
    border-top-left-radius: 1vh;
    bottom: -12vh;
}

.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100vh;
}
  
.side-toggle {
    width: 5vw;
    height: 5vw;
    background-color: #F1F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

  
mat-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}


