<div class="container">
    <mat-grid-list cols="2" rowHeight="11vw">
        <mat-grid-tile>
            <div class="details-tile">
                <b>Owner</b><br/>
                {{file.owners[0].displayName}}
            </div>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <div class="details-tile">
                <b>Type</b><br/>
                <div class="file-type-container">
                    <img src={{file.iconLink}} class="file-icon">
                    <div class="file-type">{{fileType(file.mimeType)}}</div>
                </div>
            </div>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <div class="details-tile">
                <b>Created</b><br/>
                {{formatCreated(file.createdTime)}}
            </div>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <div class="details-tile">
                <b>Last Modified</b><br/>
                {{formatLastModified(file.modifiedTime, file.lastModifyingUser)}}
            </div>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <div class="details-tile">
                <b>Location</b><br/>
                <div>
                    <img>
                    My Drive
                </div>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>