/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
@import '../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';

html, body { max-height: 100%; }
body { margin: 1000; font-family: Roboto, "Helvetica Neue", sans-serif; }
#background { background-image: url("/assets/images/logo-background.png");}

$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));
@include mat.all-component-themes($theme);

.multiline-tooltip {
  max-width: unset !important;
  min-width: 5000px !important;
  white-space: pre-line !important;
}

mat-chip :hover, tr :hover{
  cursor: pointer !important;
}

