/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 1000; font-family: Roboto, "Helvetica Neue", sans-serif; }
#background { background-image: url("/assets/images/logo-background.png");}

$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));
@include mat.all-component-themes($theme);
